* {
   box-sizing: border-box;
   margin:0;
}

body {
   background: rgba(238, 225, 225, 0.975);
}

/* canceling styles */
a {
   text-decoration: none;
   color:inherit;
}

button{
   background-color: inherit;
   font-size: inherit;
   color: inherit;
   border: none;
   font-family: inherit;
   cursor: pointer;
}

li {
   list-style-type: none;
   padding: .75rem .0 .75rem 0;
}

/* utilitis */
.submit-btn{
   background: darkblue;
   border-radius: 1rem;
   color: rgba(238, 225, 225, 0.975);
   padding:.5rem;
   cursor: pointer;
   font-size:1.2rem;
   margin-top:1rem;
}

/* header content */
header {
   background-color: blue;
   padding-top:1.5rem;
   padding-bottom: 1.5rem;
   display:flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-items:center;
   color: rgba(238, 225, 225, 0.975);
   padding: 1.5rem 5rem 1.5rem 3rem;
}

header > h1 {
   font-size:2.5rem;
}

nav{
   display:flex;
   justify-content: space-around;
   gap:4rem;
   font-size:1.4rem;
}

nav > * {
   color: rgba(238, 225, 225, 0.975);
}

/* main content */
main{
   width: 100%;
   padding-left: 15%;
   padding-right: 10%;
   margin-top: 0rem;
   background-color: rgba(238, 225, 225, 0.975);
}

.post > h3 {
   color:blue;
   font-size: 1.4rem;
}

.meta {
   background-color: lightyellow;
   width: fit-content;
   padding: 0 1rem 0 1rem;
   border-radius: 1rem;
}

.meta span {
   color: blue;
   font-size: larger;
}

/* single post page classes sp stands for single post */
.sp{
   margin:1rem auto 1rem auto;
}

.sp-content{
   margin-top:0;
   line-height: 1.5;
   font-size: 1.5rem;
   background-color: rgb(162, 162, 184);
   padding:.5rem;
   color:rgba(238, 225, 225, 0.975);
}
.post > .sp-title{
   margin-bottom: 0;
   font-size: 2rem;
   background: darkblue;
   padding:1rem;
   border-top-right-radius:1rem;
   border-top-left-radius:1rem;
   color: rgba(238, 225, 225, 0.975);
}

/* single post comment section */
.comments-title{
   color:blue;
   font-size: 1.2rem;
}

.comments-group li:nth-child(even){
   background: rgb(162, 162, 184);
}

.comment{
   width:fit-content;
   padding:1rem;
   border-radius:1rem;
}

/* single post comment form */
.comment-form{
   margin-top:3rem;
}

.comment-form > div > label{
   color:blue;
   font-size: 1.2rem;
   font-weight: bolder;
}

.comment-form > div > textarea{
   border-radius: 1rem;
   width: 70%;
}

/* breakpoints */
@media screen and (max-width: 705px){
   header {
      text-align: center;
      justify-content: center;
   }
   header > h1 {
      width:100%;
   }
}