
<ol>
   {{#each posts}}
   <li>
      <article class="post">
      <h3 class="sp sp-title"><a href="/dashboard/edit-post/{{this.id}}">{{this.title}}</a></h3>
      <p class="sp sp-content">
         {{this.content}}
      </p>
      </article>
      <div class="meta">
         Posted on {{format_date this.created_at}}
      </div>
   </li>
   {{/each}}
</ol>

<div class="add-post-btn">
   <a class="submit-btn" href="/dashboard/new-blog"> &#43; Add Post</a>
</div>


