<h2 class="edit-post-title">
   Edit Post
</h2>

<div>
   <form class="edit-post-form">
      <div>
         <label for="title">New Title: </label>
         <input type="text" name="title" id="title" value="{{title}}">
      </div>
      <div>
         <label for="blog-content">New Content:</label>
      </div>
      <div>
         <textarea name="blog-content" id="blog-content" cols="100" rows="6">{{content}}</textarea>
      </div>
      <button class='submit-btn' type="submit">Update Post</button>
      <button class="submit-btn delete-btn">Delete Post</button>
   </form>
</div>
<script src="/javascript/deletePost.js"></script>
<script src="/javascript/editPost.js"></script>