<div class="form-wrapper">
   <form class="signup-form form">
      <div>
         <label for="username">Username:</label>
         <input type="text" id="username" name="username">
      </div>
      
      <div>
         <label for="email">Email:</label>
         <input type="email" id="email" name="email">
      </div>
      
      <div>
         <label for="password">Password</label>
         <input type="password"  id="password" name="password">
      </div>
      
      <button type="submit" class="submit-btn">Submit</button>
   </form>
   
</div>

<script src="/javascript/signup.js"></script>
